{% extends "base.html" %}

{% block title %}
    About - Developer Resume
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Developer Resume</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Name:</h5>
                                <p>Putluri Hemasudha</p>
                                <h5>Location:</h5>
                                <p>Narasaraopet, India</p>
                                <h5>Email:</h5>
                                <p>hemasudhaputluri@gmail.com</p>
                            </div>
                            <div class="col-md-6">
                                <h5>GitHub Profile:</h5>
                                <p><a href="https://github.com/PHemasudha" target="_blank">github.com/johndoe</a></p>
                                <h5>LinkedIn Profile:</h5>
                                <p><a href="https://www.linkedin.com/in/hema-sudha-58956124b" target="_blank">linkedin.com/in/johndoe</a></p>
                                <!-- Add more sections as needed -->
                            </div>
                        </div>
                        <div class="mt-4">
                            <h3>Summary</h3>
                            <p>
                                Aiming at constant upgradation in my career with emphasis on organization’s success through
                                my hard work. Would like to work in a challenging environment and derive professional
                                satisfaction there from. Will commit to work effectively applying my skills and knowledge to
                                the roles and responsibilities to be assigned. impact.
                            </p>
                        </div>
                        <div class="mt-4">
                            <h3>Skills</h3>
                            <ul>
                                <li>Python</li>
                                <li>JavaScript</li>
                                <li>HTML, CSS</li>
                                <li>SQL, PostgreSQL, MySQL</li>
                                <li>Version Control (Git, GitHub)</li>
                            </ul>
                        </div>
                        <div class="mt-4">
                            <h3>Education</h3>
                            <h5>Bachelor of Science in Computer Science</h5>
                            <p><em>GANDHI INSTITUTE OF TECHNOLOGY AND MANAGEMENT, 2025</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}